In [1]:
#1.print data type of variable X
x=5
type(x)

int

In [2]:
#2.what will be datatype of following variable
var = 'VisioNLP'
type(var)

str

In [3]:
#3. Insert the correct syntax to convert x into a int data type.
#x = 10.44
#___(x)
x = 10.44
int(x)

10

In [4]:
#4. Convert x into string
#x = 65

x=65
str(65)

'65'

In [6]:
#5.Multipy 10 with 5, and print the result.
10*5                #method 1
a,b=10,5            #method 2
a*b

50

In [8]:
#6. Use assignment operator and Perform Multiplication x and y values and store it in x
x=3
y=7
x*=y
print(x)

21

In [35]:
#7. Correct the following statement
#x=x+6=3
x=3
x+=6
print(x)

9

In [9]:
#8. Correct the following line
#x = 9
#y = 6
#x => y

x=9 
y=6
x>=y

True

In [28]:
#9. list out different data types
#integer
a,b,c=9,4.3,'cat'
print(type(a))              #int
print(type(b))              #float
print(type(c))              #str
type(True)                  #boolean
type(False)

<class 'int'>
<class 'float'>
<class 'str'>

bool

In [33]:
#10. Add and display/print few examples of your choice of arithmetic operatios

m, n=4,3
print('addition of 2 numbers:-',m+n)                 #addition of 2 numbers
print('substraction of 2 numbers:-',m-n)             #substraction of 2 numbers
print('multiplication of 2 numbers:-',m*n)           #multiplication of 2 numbers
print('division of 2 numbers:-',m/n)                 #division of 2 numbers
print('module of 2 numbers:-',m%n)                   #module of 2 numbers
print('power:-',m**n)                                #power

addition of 2 numbers:- 7
substraction of 2 numbers:- 1
multiplication of 2 numbers:- 12
division of 2 numbers:- 1.3333333333333333
module of 2 numbers:- 1
power:- 64