In [1]:
# Exercise 1
# Create a tuple of 3 names: "john", "sia" and "ria"

tup1=("john", "sia","ria")
tup1

('john', 'sia', 'ria')

In [2]:
# Exercise 2
# Display the second object in the tuple
tup1[1]

'sia'

In [3]:
# Exercise 3
# Create a tuple containing the letters of your name from a string
my_name='nilam'
tup2=('n','i','l','a','m')
tup2

('n', 'i', 'l', 'a', 'm')

In [15]:
# Exercise 4
# Create a list of 3 names: "john", "sia" and "ria"
name=["john","sia","ria"]
name

['john', 'sia', 'ria']

In [16]:
# Exercise 5
# Append the string "elena" to the names list using .append()
name.append("elena")
name

['john', 'sia', 'ria', 'elena']

In [18]:
# Exercise 6
# Print the last item in names list

name[3]

'elena'

In [21]:
# Exercise 7
# check 'john' name's length using len()
len("john")

4

In [4]:
# Exercise 8
# Create an empty dictionary
dict1={"  ":"  "}
dict1

{'  ': '  '}

In [8]:
# Exercise 9
# Add some key-value pairs to the dictionary
dict2={"fruit":"Apple","flower":"Rose","sport":"Cricket","city":"Pune"}
dict2

{'fruit': 'Apple', 'flower': 'Rose', 'sport': 'Cricket', 'city': 'Pune'}